```c
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    keymap {
        compatible = "zmk,keymap";

        // ================================================================
        // DEFAULT LAYER
        // Regular 6-column Corne
        //
        //   TAB   Q   W   E   R   T   G       Y   U   I   O   P   [
        //   LALT  A   S   D   F   G   H       J   K   L   ;   '   ]
        //   LS    Z   X   C   V   B   N       M   ,   .   /   -   =
        //
        //           GUI   ALT  SPACE   SPACE  BSPC  LOWER
        // ================================================================

        default_layer {
            bindings = <
                // Row 1
                &kp ESC       &kp Q       &kp W       &kp E       &kp R       &kp T
                &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BACKSPACE

                // Row 2
                &kp TAB       &kp A       &kp S       &kp D       &kp F       &kp G
                &kp H       &kp J       &kp K       &kp L    &kp SEMI     &kp SQT

                // Row 3
                &kp LS       &kp Z       &kp X       &kp C       &kp V       &kp B
                &kp N       &kp M   &kp COMMA     &kp DOT    &kp MINUS   &kp RS

                // Thumb keys
                &lt 1 LGUI
                &mt LANG1 LALT
                &kp SPACE

                &kp ENTER
                &kp BSPC
                &to 1
            >;
        };


        // ================================================================
        // LOWER LAYER
        //
        //   BT CLEAR   ↑       -       -       -       -       7   8   9   HOME   PAGE UP   -
        //   ←          ↓       →       -       -       -       4   5   6   END    PAGE DOWN -
        //   BT CLR ALL -       -       -       -       -       1   2   3   DEL    INSERT    -
        //
        //           -     -     -       -      -      DEFAULT
        // ================================================================

        lower_layer {
            bindings = <
                // Row 1
                &bt BT_CLR
                &kp UP
                &trans
                &trans
                &trans
                &trans

                &kp KP_NUMBER_7
                &kp KP_NUMBER_8
                &kp KP_NUMBER_9
                &kp HOME
                &kp PAGE_UP
                &trans

                // Row 2
                &kp LEFT
                &kp DOWN
                &kp RIGHT
                &trans
                &trans
                &trans

                &kp KP_NUMBER_4
                &kp KP_NUMBER_5
                &kp KP_NUMBER_6
                &kp END
                &kp PAGE_DOWN
                &trans

                // Row 3
                &bt BT_CLR_ALL
                &trans
                &trans
                &trans
                &trans
                &trans

                &kp KP_NUMBER_1
                &kp KP_NUMBER_2
                &kp KP_NUMBER_3
                &kp DELETE
                &kp INSERT
                &trans

                // Thumb keys
                &trans
                &trans
                &trans

                &trans
                &trans
                &to 0
            >;
        };
    };
};
```
